<!DOCTYPE html>
<html>
<head>
    <title>WordPress &#8250; ReadMe</title>
    <link href="/assets/styles.css" rel="stylesheet"></link>
	</head>
<body>
    <%- include('partials/nav.ejs') %>
<p style="text-align: center">Semantic Personal Publishing Platform</p>

<h1>First Things First</h1>
<p>Welcome. WordPress is a very special project to me. Every developer and contributor adds something unique to the mix, and together we create something beautiful that I&#8217;m proud to be a part of. Thousands of hours have gone into WordPress, and we&#8217;re dedicated to making it better every day. Thank you for making it part of your world.</p>
<p style="text-align: right">&#8212; Matt Mullenweg</p>


</body>
</html>
